/* header start */
.header {
    background-color: rgb(255, 255, 255);
    border-bottom   : 2px solid #006a4e;

}

.container {
    display: flex;
}

.logo {
    width : 44%;
    margin: 10px 20px;
}

.location {
    margin-left: 25px;
    display    : flex;
}

.location p {
    margin-top : 25px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color      : #006a4e;
}

.fa-search {
    color    : #006a4e;
    margin   : 20px 20px;
    font-size: 30px;
}

.fa-map-marker-alt {
    color     : #006a4e;
    margin-top: 28px;
    font-size : 17px;
}

.fa-user-plus {
    color      : #006a4e;
    margin-top : 28px;
    font-size  : 17px;
    margin-left: 15px;
}

.sign-in {
    margin-left: 25px;
    display    : flex;
}

.sign-in p {
    margin-top : 25px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color      : #006a4e;
}

.shopping {
    display: flex;
}

.shopping img {
    margin-top: 14px;
}

.fa-shopping-cart {
    color      : #006a4e;
    margin-top : 14px;
    font-size  : 37px;
    margin-left: 25px;
}

.chart {
    width           : 8%;
    padding-top     : 15px;
    background-color: #006a4e;
    text-align      : center;
}

.fa-clipboard-list {
    color         : white;
    text-align    : center;
    /* margin-left: 40px; */
}

.list {
    border-bottom : 1px solid #ffffff;
    padding-bottom: 5px;
}

.list span {
    color: white;
}

.list-icon {
    padding-top: 15px;
}

.tk {
    padding-top: 5px;
}

.tk span {
    color         : white;
    /* margin-left: 40px; */
}

/* header end */

/* menu start */

.wrapper {
    display : flex;
    position: relative;
}

.wrapper .sidebar {
    width   : 200px;
    height  : 100%;
    padding : 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color         : #fff;
    text-transform: uppercase;
    text-align    : center;
    margin-bottom : 30px;
}

.wrapper .sidebar ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color  : #bdb8d7;
    display: block;
}


.wrapper .sidebar ul li:hover {
    /* background-color: #594f8d; */
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .social_media {
    position : absolute;
    bottom   : 0;
    left     : 50%;
    transform: translateX(-50%);
    display  : flex;
}



.wrapper .main_content {
    width      : 100%;
    margin-left: 280px;
}

.wrapper .main_content .top-menu {
    background   : #fff;
    color        : #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin     : 20px;
    color      : #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

@media (max-height: 500px) {
    .social_media {
        display: none !important;
    }
}


.wrapper .sidebar {
    background   : rgb(255, 255, 255);
    position     : fixed;
    top          : 0;
    left         : 0;
    width        : 280px;
    height       : 100%;
    padding      : 15px 0;
    margin-top   : 80px;
    transition   : all 0.5s ease;
    border-right : 2px solid #c9c9c9;
    overflow     : scroll;
    margin-bottom: 50px;
}

.wrapper .sidebar ul li a {
    display       : block;
    padding-bottom: 10px;
    padding-left  : 30px;
    color         : hsl(164, 100%, 21%);
    position      : relative;
    font-family   : 'Poppins', sans-serif;
    font-weight   : 600;
}

.wrapper .sidebar ul li img {
    margin-right: 15px;
}

.wrapper .sidebar ul li a .icon {
    color  : #006a4e;
    width  : 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color     : #006a4e;
    background: white;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
    color: #006a4e;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

ul {
    list-style-type: none;
    margin         : 0;
    padding        : 0;
}

a:link {
    text-decoration: none;
}

.explore-logo {
    background-color: rgb(232, 232, 233);
    border-bottom   : 2px solid hsl(0, 2%, 75%);
    ;
    border-top: 2px solid hsl(0, 2%, 75%);
}

.explore {
    padding    : 10px;
    margin-left: 25px;
}

.explore-text {
    /* padding: 10px; */
    color      : hsl(0, 0%, 41%);
    display    : inline-block;
    font-family: 'Poppins', sans-serif;
    font-size  : 15px;
    font-weight: 600;
}

.shodai-text {
    /* padding: 10px; */
    color      : hsl(164, 100%, 21%);
    display    : inline-block;
    font-family: 'Poppins', sans-serif;
    font-size  : 15px;
    font-weight: 600;
}

.mama-text {
    /* padding: 10px; */
    color      : #fb6801;
    display    : inline-block;
    font-family: 'Poppins', sans-serif;
    font-size  : 15px;
    font-weight: 600;
}

.menu-bottom {
    padding-top   : 10px;
    padding-bottom: 50px;
}

.top-menu {
    display         : inline-flex;
    width           : 100%;
    overflow        : hidden;
    background-color: #333;
}


.top-menu table,
th,
td {
    border-left: 1px solid rgb(168, 168, 168);

}

.top-menu table,
td,
th {
    color      : black;
    font-weight: 600;
}

.top-menu table {
    border-collapse: collapse;
    width          : 100%;
}

.top-menu td {
    text-align : center;
    font-family: 'Poppins', sans-serif;
    padding    : 10px;
}

tr.noBorder td {
    border-left: 0;
}

.slideshow-container {
    max-width: 1000px;
    position : relative;
    margin   : auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor       : pointer;
    position     : absolute;
    top          : 50%;
    width        : auto;
    margin-top   : -22px;
    padding      : 16px;
    color        : white;
    font-weight  : bold;
    font-size    : 18px;
    transition   : 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select  : none;
}

/* Position the "next button" to the right */
.next {
    right        : 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color     : #f2f2f2;
    font-size : 15px;
    padding   : 8px 12px;
    position  : absolute;
    bottom    : 8px;
    width     : 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color    : #f2f2f2;
    font-size: 12px;
    padding  : 8px 12px;
    position : absolute;
    top      : 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor          : pointer;
    height          : 15px;
    width           : 15px;
    margin          : 0 2px;
    background-color: #bbb;
    border-radius   : 50%;
    display         : inline-block;
    transition      : background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name    : fade;
    -webkit-animation-duration: 1.5s;
    animation-name            : fade;
    animation-duration        : 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.preorder {
    background-color: rgb(235, 235, 235);
}

.preorder-text {
    border-left   : 6px solid rgb(68, 189, 50);
    border-radius : 8px;
    padding-left  : 40px;
    padding-top   : 5px;
    padding-bottom: 5px;
}

.preorder-text p {
    color      : black;
    font-family: 'Poppins', sans-serif;
    margin     : 0px;
    line-height: 35px;
}

.preorder-text h1 {
    color      : black;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin     : 0px;
    line-height: 35px;
}

.offer-banner {
    background-color: rgb(255, 255, 255);
    width           : 250px;
    height          : 200px;
    margin          : 30px;
    box-shadow      : rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box img {
    width : 100%;
    height: 100%;
}


.box2 img {
    object-fit: contain;
    width     : 100%;
    height    : 164px;
    transition: all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    object-fit: cover;
}

.offer-content {
    text-align: center;
    color     : rgb(148, 147, 147);
}

.product-card {
    background-color: rgb(255, 255, 255);
    width           : 200px;
    height          : 360px;
    margin          : 30px;
    box-shadow      : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 0;
    padding-bottom: 20PX;
}

.product label{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(68, 189, 50);
    border-radius: 5px;
    color: aliceblue;
    text-align: right;
    padding: 1.3px;
    z-index: 1;
    margin-left: 158px;
    margin-top: 30px;
}

.product img {
    object-fit : contain;
    width      : 150px;
    height     : 150px;
    transition : all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    object-fit : cover;
    margin-left: 25px;
}

.product-name {
    font-weight: 800;
}


.product-text {
    text-align : center;
    color      : rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    padding    : 0;
}

.product-subtext {
    text-align : center;
    color      : #fb6801;
    font-family: 'Poppins', sans-serif;
}

.product-button {
    border        : 1px solid hsl(164, 100%, 21%) !important;
    font-size     : 16px;
    margin-top: 10px;
    font-weight   : 600;
    color         : hsl(164, 100%, 21%);
}

.productDetailsArea {
    cursor    : pointer;
    padding-top: 10px;
}

.productDeliveryStatus {
    display     : flex;
    padding-left: 4px;
}

.productDeliveryStatus span {
    padding:5px;
    font-size: 14px;
    color: rgb(177, 178, 179);
}

.productDeliveryStatus img{
    padding-left:4px;
}

.productDeliveryText {
    margin-top: 10px;
    background-color: hsl(164, 100%, 21%);
    color           : aliceblue;
    width           : 200px;

}

.fresh-col-1{
    display: flex;
}

.show-more{
    justify-content: end;
}

.show-more button{
    background-color: rgb(184, 186, 187);
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #cfcfcf;
    color: #2b2b2b;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 860px;
    margin-bottom: 20px;
}

.product-regular label{
    font-family: 'Poppins', sans-serif;
    background-color: #0097e6;
    border-radius: 5px;
    color: aliceblue;
    text-align: right;
    padding: 1.3px;
    z-index: 1;
    margin-left: 135px;
    margin-top: 30px;
}

.product-regular img {
    margin-left: 28px;
    object-fit : contain;
    width      : 150px;
    height     : 150px;
    transition : all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    object-fit : cover;
}

h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
    margin-left: 20px;
}
.categories{
   display: flex;
}

.product-categories{
    background-color: rgb(255, 255, 255);
    width           : 200px;
    height          : 180px;
    margin          : 30px;
    box-shadow      : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 0;
    padding-bottom: 20PX;
}

.categories-text{
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
    text-align: center;
}

.categories-col{
    border-top: 1px solid rgb(190, 190, 190);
}

.shodai-mama img {
    margin-left: 68px;
    margin-top: 28px;
    object-fit : contain;
    width      : 60px;
    height     : 60px;
    transition : all .45s cubic-bezier(.23, 1, .32, 1) 0ms;
    object-fit : cover;
}

.shodai-mama-p{
    font-size: 12px;
    margin: 10px;
}

.shodai-mama-categories{
    background-color: rgb(255, 255, 255);
    width           : 200px;
    height          : 200px;
    margin          : 30px;
    box-shadow      : rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 0;
    padding-bottom: 20PX;
}

.footer{
    display: flex;
}